header{
    text-transform: uppercase;
}

a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
a:hover{
    background-color: darkgray;
    border-radius: 10px;
    transition-duration: 1s;
}
.footer-icons{
    display: flex;
    flex-direction: row;
}
