header, h2{
    text-transform: uppercase;
}

nav >a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}
nav>a:hover{
    background-color: darkgray;
    border-radius: 10px;
    transition-duration: 1s;
}
.footer-icons{
    display: flex;
    flex-direction: row;
}
.footer-bot{
    min-height: 10dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: minmax(0,1fr);
}
